body {
    background: rgb(37,37,40);
    background: linear-gradient(90deg, rgba(37,37,40,1) 0%, rgba(0,41,50,1) 17%, rgba(13,67,78,1) 90%);     color: #FFFFFF;
    foreground-color: #0C0D0D;
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    bottom: 0;
    width: 100%;
    height: 50px;
}

.comparison_1 {
    border: 2px solid black;
    border-collapse: separate;
}

.comparison_1 td, .comparison_1 th {
    border: 1px solid black;
    padding: 10px;
}

.first ul {
    padding: 0px;
    background-color: #FFFFFF;
    overflow: hidden;
    text-align: center;
}

.first ul > li {
    display: inline-block;
}

.first ul > li a {
    color: #000000;
    display: block;
    padding: 08px 200px;
}

.first ul > li a:hover {
    background-color: #787D7B
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
